<div class="wideRow">
    <label for="title"  class="itemNarrow">Title:</label>
    <input type="text" class="itemWide" id="title" name="title" value="<%= post.title %>" placeholder="Title" autocomplete="off"/>
</div>


<div class="wideRow">
    <label for="body"  class="itemNarrow">Body:</label>
    <textarea class="itemWide" id="body" name="body"><%= post.body %></textarea> 
</div>

<div>

<label for="image">Attach file (Max size 20MB):</label>
<input type="file" id="image" name="image"/>

</div>


<input type="submit" value="Save" id="enviar" name="enviar">
<br />

<a href="/posts" class="button">Cancel</a>